h1,h3{
    text-align:center;
}
#restart{
    font-size: 15px;
    position:relative;
    left:40%;
    padding-left:20px;
    padding-right:20px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 50%;
    background-color:rgb(249, 237, 205);
	border-color:gray;
	border-style:solid;
}
#back{
    position:relative;
    left:45%;
    font-size: 15px;
    padding-left:25px;
    padding-right:25px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 50%;
    background-color:rgb(249, 237, 205);
	border-color:gray;
	border-style:solid;
    text-decoration:none;
    color:black;
}
body{
    background-color:antiquewhite;
}